aside {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box; }

#myVideo {
  position: fixed;
  float: left;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; }

.links {
  color: white;
  font-size: 4vw;
  padding: 0 6vw;
  cursor: grab;
  -webkit-transition: color 1s;
  transition: color 1s; }

.links:hover {
  color: #FF6A4A; }

.fas {
  padding: 25px; }

.splashSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 30%;
  font-size: 2vw;
  padding: 20px;
  box-sizing: border-box; }
  .splashSection p {
    align-self: flex-start; }

section .img {
  position: absolute;
  top: 65%;
  width: 75vw;
  height: 75vw;
  contain: content;
  max-width: 500px;
  max-height: 500px; }

.splashSection img {
  width: 100%;
  height: 100%;
  border: 10px ridge #723c03;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    contain: content;
    margin-top: 15px; }
    .projects .project img {
      width: 100%;
      height: 25vw;
      max-width: 640px;
      max-height: 320px; }
  .projects a:hover {
    color: red; }

.project-head {
  margin-left: 70px; }
  .project-head h2 {
    margin-top: 0; }

.proj-img1 {
  background: #333;
  min-height: 50%;
  position: relative; }

.proj-imgs {
  background-image: url("../assets/img3.jpg");
  min-height: 100px;
  margin-top: 20px; }

.projectAside {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 5;
  box-sizing: border-box; }

.section {
  margin: 20px; }

.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skill-wrapper .skillImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    margin: 15px; }
    .skill-wrapper .skillImg .skillInfo {
      position: absolute;
      z-index: 6;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 40px;
      border-radius: 5px;
      box-shadow: 0px 2px 3px 2px #ddd;
      border: 1px solid #ccc;
      background: #fff;
      bottom: 0px;
      opacity: 1;
      transition: opacity 0.8s, transform 0.6s cubic-bezier(0.61, -0.19, 0.7, -0.11); }
      .skill-wrapper .skillImg .skillInfo p {
        z-index: 5;
        background: #fff;
        display: inline-block;
        padding: 6px; }
    .skill-wrapper .skillImg .hidden {
      opacity: 0;
      transform: translateY(50px); }
    .skill-wrapper .skillImg .arrow {
      position: absolute;
      width: 25px;
      height: 25px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ccc;
      bottom: 20px;
      transform: rotate(45deg); }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Montserrat', sans-serif; }

.aboutAside {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box; }

.pimg {
  position: relative;
  opacity: .7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.img1 {
  background-image: url("../assets/img1.jpg");
  min-height: 100%; }

.img2 {
  background-image: url("../assets/img2.jpg");
  min-height: 450px; }

.img3 {
  background-image: url("../assets/img3.jpg");
  min-height: 450px; }

.img4 {
  background-image: url("../assets/img4.jpg");
  min-height: 450px; }

.img5 {
  background-image: url("../assets/img5.jpg");
  min-height: 450px; }

.ptext {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box; }

.border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  color: white;
  font-size: 3vw;
  padding: 3vw;
  cursor: grab;
  -webkit-transition: color 1s;
  transition: color 1s; }

.border:hover {
  color: #FF6A4A; }

.about-head {
  margin-left: 25px; }

/*# sourceMappingURL=main.css.map */
